output div {
    border: 2px solid black;
    min-width: 150px;
    text-align: center;
}

output {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
}

fieldset {
    display: flex;
}

fieldset div {
    flex: 1;
}
